<div class="container">

    <div style="margin-top:15px">
        <div class="row">
            <div class="col-sm-1">
                <img src="~/Pics/002-running.png" class="img-responsive" />
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4"><P style="font-size:large;">Afternoon Run</P></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Distance: 19,1km</div>
                    <div class="col-sm-4">Speed: 6:12/km</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Time: 2:31:15</div>
                    <div class="col-sm-4">HR: 133</div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:15px">
        <div class="row">
            <div class="col-sm-1">
                <img src="~/Pics/001-transport.png" class="img-responsive" />
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4"><P style="font-size:large;">Afternoon Ride</P></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Distance: 19,1km</div>
                    <div class="col-sm-4">Speed: 6:12/km</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Time: 2:31:15</div>
                    <div class="col-sm-4">HR: 133</div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:15px">
        <div class="row">
            <div class="col-sm-1">
                <img src="~/Pics/002-running.png" class="img-responsive" />
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4"><P style="font-size:large;">Afternoon Run</P></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Distance: 19,1km</div>
                    <div class="col-sm-4">Speed: 6:12/km</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Time: 2:31:15</div>
                    <div class="col-sm-4">HR: 133</div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:15px">
        <div class="row">
            <div class="col-sm-1">
                <img src="~/Pics/002-running.png" class="img-responsive" />
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4"><P style="font-size:large;">Afternoon Run</P></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Distance: 19,1km</div>
                    <div class="col-sm-4">Speed: 6:12/km</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Time: 2:31:15</div>
                    <div class="col-sm-4">HR: 133</div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:15px">
        <div class="row">
            <div class="col-sm-1">
                <img src="~/Pics/001-transport.png" class="img-responsive" />
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-4"><P style="font-size:large;">Afternoon Ride</P></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Distance: 19,1km</div>
                    <div class="col-sm-4">Speed: 6:12/km</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Time: 2:31:15</div>
                    <div class="col-sm-4">HR: 133</div>
                </div>
            </div>
        </div>
    </div>
</div>
