<div id="signUp" class="modal fade" role="dialog">
    <div class="modal-content">
        <div class="modal-header"><button class="close" data-dismiss="modal">&times;</button> </div>
        <div class="modal-body">body</div>
        <div class="modal-footer"><button class="btn btn-alert-danger">Register</button></div>
    </div>
</div> 
