
<div class="jumbotron">
    <h3>Statistics of last 10 days</h3>
    <div style="margin-top:25px"><h4>Running</h4></div>
    <div class="row">
        <div class="col-lg-3">Distance: 150km</div>
        <div class="col-lg-3">AVG Speed: 5:25min/km</div>
        <div class="col-lg-3">Number of excercises: 4</div>
    </div>
    <div class="row">
        <div class="col-lg-3">AGV HR: 140</div>
        <div class="col-lg-3">Climb: 1500m</div>
        <div class="col-lg-3">Training effect: 1500</div>
    </div>

    <div style="margin-top:25px"><h4>Cycling</h4></div>
    <div class="row">
        <div class="col-lg-3">Distance: 25</div>
        <div class="col-lg-3">AVG Speed: 22km/h</div>
        <div class="col-lg-3">Number of excercises: 3</div>
    </div>
    <div class="row">
        <div class="col-lg-3">AGV HR: 120</div>
        <div class="col-lg-3">Climb: 250m</div>
        <div class="col-lg-3">Training effect: 120</div>
    </div>
    <div style="margin-top:25px">
        <h4>Overall training effect 1620</h4>
        <h4>State of recovery: fully recovered</h4>
    </div>
</div>
