@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>My training log</h2>
    <p>More is more - less is less.</p>
</div>
    
    
<div class="container">
    <div class="h2">Latest exercise</div>
    <div class="row">
        <div class="col-sm-4"><img  class="img-responsive" src="~/Pics/002-running.png"/>PK1 in Western Helsinki</div>
    </div>
    <div class="row">
        <div class="col-sm-1">19,1km</div>
        <div class="col-sm-1">6:12/km</div>
    </div>
</div>

<div class="container">
    <div class="page-header">Last 10 days training effect</div>
</div>

<div class="container">
    <div class="page-header">Recovery</div>
</div>

